#pageGuessDate > div {
    width: 50%;
}
#pageGuessName .double-column li {
    width: 30%;
}
#pageGuessName .double-column li:first-child {
    width: 70%;
}
@media (max-width: 480px) {
    #pageGuessName > div{
        top: 45%;
    }
    #pageGuessName .double-column li {
        display: inline-block;
        width: 30%;
    }
    #pageGuessName .double-column li:first-child {
        display: inline-block;
        width: 67%;
    }
    #pageGuessName .double-column li.pontianakBox {
        margin-left: -12%;
    }
}
@media (max-width: 320px) {
    #pageGuessName .double-column li.pontianakBox {
        margin-left: -16%;
    }
}

/* jac: vetting pontianak box stylings here */
#pageGuessName .single-column {
  position: relative;
  z-index: 1;
}
@media (max-width: 480px) {
  #pageGuessName {
    margin-top: 54px;
  }

  #pageGuessName .centerElement {
    overflow: hidden;
    top: 0;
    height: 100%;
    transform: none;
    left: 0;
    position: static;
  }

  #pageGuessName .pontianakBox {
    width: 100%;
    left: 0;
    margin-top: -30%;
    right: 0;
    margin-left: 0;
  }
}
.pontianakBox {
  position: absolute;
  top: 0;
  left: 50%;
  width: 640px;
  height: 800px;
  margin-top: -200px;
  margin-left: -50px;
}

.pontianakBox > div {
  width: 640px;
  height: 800px;
}
.pontianak1 { background: transparent url( ../img/01_ponappear.png ) 0 0 no-repeat; }
.pontianak2 { background: transparent url( ../img/02_ponwait.png ) 0 0 no-repeat; }
.pontianak3 { background: transparent url( ../img/03_ponturn_1.png ) 0 0 no-repeat; }
.pontianak4 { background: transparent url( ../img/04_ponwait_1.png ) 0 0 no-repeat; }
.pontianak5 { background: transparent url( ../img/05_ponturn_2.png ) 0 0 no-repeat; }
.pontianak6 { background: transparent url( ../img/06_ponwait_2.png ) 0 0 no-repeat; }
.pontianak7 { background: transparent url( ../img/07_ponturn_3.png ) 0 0 no-repeat; }
.pontianak8 { background: transparent url( ../img/08_ponwait_3.png ) 0 0 no-repeat; }
/*.pontianak9, .pontianakSpecial { background: transparent url( ../img/09_pondash.png ) 0 0 no-repeat; width: 750px !important ; }*/
.pontianak9, .pontianakSpecial { background: transparent url( ../img/09_pondash.png ) 0 0 no-repeat; }

@media (max-width: 769px) {

  .pontianakBox > div {
    width: 600px;
    height: 648px;
  }
  /*
    .pontianak1 { background: transparent url( ../img/01_ponappear-m.png ) 0 0 no-repeat; }
    .pontianak2 { background: transparent url( ../img/02_ponwait-m.png ) 0 0 no-repeat; }
    .pontianak3 { background: transparent url( ../img/03_ponturn_1-m.png ) 0 0 no-repeat; }
    .pontianak4 { background: transparent url( ../img/04_ponwait_1-m.png ) 0 0 no-repeat; }
    .pontianak5 { background: transparent url( ../img/05_ponturn_2-m.png ) 0 0 no-repeat; }
    .pontianak6 { background: transparent url( ../img/06_ponwait_2-m.png ) 0 0 no-repeat; }
    .pontianak7 { background: transparent url( ../img/07_ponturn_3-m.png ) 0 0 no-repeat; }
    .pontianak8 { background: transparent url( ../img/08_ponwait_3-m.png ) 0 0 no-repeat; }
    */
    .pontianak9, .pontianakSpecial {
      background: transparent url( ../img/09_pondash-m.png ) 0 0 no-repeat;
      width: 600px;
    }

    /*.pontianakSpecial {
      margin-left: -270px;
    }*/
}
/*
.pontianak9 {
  margin-left: -270px;
  margin-top: -154px;
  height: 166% !important;
}
*/
.pontianak1 { background-image: none; }
.pontianak2 { background-image: none; }
.pontianak3 { background-image: none; }
.pontianak4 { background-image: none; }
.pontianak5 { background-image: none; }
.pontianak6 { background-image: none; }
.pontianak7 { background-image: none; }
.pontianak8 { background-image: none; }
.pontianakSpecial {
  /*background-position-x: -5400px;*/
  background-position: -1280px -800px;
  display: block;
  height: 100%;
}

#pageGuessDate .double-column .centerVer div{
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -webkit-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -o-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.60);
    margin-top: 12px;
}
#pageGuessDate .double-column .centerVer div a{
    display: inline-block;
    border-left: 1px solid #a80101;
    border-right: 1px solid #a80101;
    text-align: center;
    padding: 20px;
    font-size: 120%;
    color: #ffab1a;
    font-weight: bold;
    border-right: 1px solid #a80101;
    cursor: pointer;
}
#pageGuessDate .double-column .centerVer div a:hover{
    background-color: #ffab1a;
    color: #a80101;
}
@media (max-width: 480px) {
    #pageGuessDate .double-column .centerVer div a{
        padding: 20px;
    }
}

#pageGuessDate .centerElement{
    width: 100%;
    height: 100%;
}
#pageGuessDate .double-column .pontianakSpecial{
    float: right;
    width: 50% !important;
    /*background-position-x: -5300px;*/
}
#pageGuessDate .double-column .centerVer{
    float: right;
    width: 400px;
}
#pageGuessDate .double-column .centerVer h3:first-letter {
  font-size: 1em;
}
@media (max-width: 800px) {
  #pageGuessDate .double-column .centerVer{
    width: 45%;
    padding-left: 5%;
  }
}
@media (min-width: 481px) {
  #pageGuessDate .double-column .centerVer h3 {
    margin: 12px auto;
    width: 95%;
    font-family: lato, serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;
  }
}
@media (max-width: 480px) {
	#pageGuessDate{
		z-index: 42;
	}
	#pageGuessDate .centerElement{
		width: 100%;
        padding: 0;
	}
    #pageGuessDate .double-column .pontianakSpecial{
        display: inline-block;
        float: right;
        width: 100% !important;
        margin-top: -30%;
        background-position: -4290px 0;
    }
    #pageGuessDate .double-column .centerVer{
        display: inline-block;
        float: left;
        width: 100% !important;
        top: 0;
        margin-top: -10%;
        padding: 0 18px 50px;
    }
    /*
	#pageGuessDate .double-column li{
		width: 100%;
	}
	#pageGuessDate .double-column li:first-child{
		width: 100%;
		margin-top: 50%;

	}
	#pageGuessDate .double-column li:last-child{
		position: absolute;
		top: 0;
	}
	#pageGuessDate .double-column li .pontianakSpecial{
		display: block;
		background-position-x: -4200px;
	}
    #pageGuessDate .double-column li h3.centerInlineHor {
    	font-family: Lato, sans-serif;
    	font-size: 220%;
    }
    */
}
@media (max-width: 320px) {
    #pageGuessDate .double-column .pontianakSpecial{
        background-position-x: -4315px;
    }
    #pageGuessDate .double-column .centerVer div a{
        padding: 15px;
    }
}
