#pageGuessDate > div {
    width: 50%;
}

#pageGuessDate .double-column .centerVer div{
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -webkit-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -o-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.60);
    margin-top: 12px;
}
#pageGuessDate .double-column .centerVer div a{
    display: inline-block;
    border-left: 1px solid #a80101;
    border-right: 1px solid #a80101;
    text-align: center;
    padding: 20px;
    font-size: 120%;
    color: #ffab1a;
    font-weight: bold;
    border-right: 1px solid #a80101;
    cursor: pointer;
}
#pageGuessDate .double-column .centerVer div a:hover{
    background-color: #ffab1a;
    color: #a80101;
}
@media (max-width: 480px) {
    #pageGuessDate .double-column .centerVer div a{
        padding: 20px;
    }
}

#pageGuessDate .centerElement{
    width: 100%;
    height: 100%;
}
#pageGuessDate .double-column .pontianakSpecial{
    float: right;
    width: 50% !important;
    /*background-position-x: -5300px;*/
}
#pageGuessDate .double-column .centerVer{
    float: right;
    width: 400px;
}
#pageGuessDate .double-column .centerVer h3:first-letter {
  font-size: 1em;
}
@media (max-width: 800px) {
  #pageGuessDate .double-column .centerVer{
    width: 45%;
    padding-left: 5%;
  }
}
@media (min-width: 481px) {
  #pageGuessDate .double-column .centerVer h3 {
    margin: 12px auto;
    width: 95%;
    font-family: lato, serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 1.3;
  }
}
@media (max-width: 480px) {
	#pageGuessDate{
		z-index: 42;
	}
	#pageGuessDate .centerElement{
		width: 100%;
        padding: 0;
	}
    #pageGuessDate .double-column .pontianakSpecial{
        display: inline-block;
        float: right;
        width: 100% !important;
        margin-top: -30%;
        background-position: -4290px 0;
    }
    #pageGuessDate .double-column .centerVer{
        display: inline-block;
        float: left;
        width: 100% !important;
        top: 0;
        margin-top: -10%;
        padding: 0 18px 50px;
    }
    /*
	#pageGuessDate .double-column li{
		width: 100%;
	}
	#pageGuessDate .double-column li:first-child{
		width: 100%;
		margin-top: 50%;

	}
	#pageGuessDate .double-column li:last-child{
		position: absolute;
		top: 0;
	}
	#pageGuessDate .double-column li .pontianakSpecial{
		display: block;
		background-position-x: -4200px;
	}
    #pageGuessDate .double-column li h3.centerInlineHor {
    	font-family: Lato, sans-serif;
    	font-size: 220%;
    }
    */
}
@media (max-width: 320px) {
    #pageGuessDate .double-column .pontianakSpecial{
        background-position-x: -4315px;
    }
    #pageGuessDate .double-column .centerVer div a{
        padding: 15px;
    }
}
