#pageClues > div > img {
    width: 30%;
    height: auto;
    margin-left: 10px;
}
@media (max-width: 480px){
	#pageClues > div > img {
	    width: 40%;
	    height: auto;
	    margin-left: 10px;
	    margin-bottom: 10px;
	}
}

#pageClues {
    z-index: 100;
}

#pageClues .clue-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: #000000;
}

#pageClues .slick-slider .slick-slide {
  padding: 0 5px;
}


#pageClues .centerElement {
  padding: 0;
}

@media (min-width: 1050px) {
  #pageClues .centerElement {
    width: 1000px;
  }
}

@media (max-width: 1000px){
  #pageClues .centerElement {
    left: auto;
    transform: translate(0, -50%);
  }
}

@media (max-width: 900px){
  #pageClues .centerElement {
    // left: auto;
    // transform: translate(0, -50%);
    position: absolute;
    top: 50%;
  }
}

@media (max-width: 768px){
  #pageClues .centerElement {
    // left: auto;
    // transform: translate(0, -50%);
    // position: absolute;
    // top: 50%;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

@include respond-to("tablet-p") {
  #pageClues .centerElement {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;

  }
}

@include respond-to("tablet-ls") {
  #pageClues .centerElement {
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
  }
}

.closeButtonRed {
    display: none;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url('../img/icon-close.png');
}

#pageClues .closeButtonRed {
  position: fixed;
}

@media (min-width: 600px) {
  #pageClues .closeButtonRed {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 0;
    right: 4px;
  }
  #pageClues img {
    width: 30%;
    padding: 0 5px;
  }
}

@media (max-width: 768px){
  #pageClues .closeButtonRed {
    // left: auto;
    // transform: translate(0, -50%);
    // position: absolute;
    // top: 50%;
    top: -40px;
  }
}


#pageClues .btnBlood {
  margin-top: 30px;
}

.btnBlood {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/texture_inactive.jpg');
    background-repeat: no-repeat;
    border: none;
    font-weight: $lato-bold;
    color: #878787 !important;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;
}
.btnBlood.active {

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-image: url('../img/texture.jpg');

    background-color: #CC0A00;
    color: #FFF !important;

    transition: all 200ms ease-out;
}
.btnBlood.active:hover {
    // background-image: none;
    background-image: url('../img/transparent.png');

}
