#pageFails {
    background-image: url( ../img/fail_bg.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
}
@media (max-width: 768px) {
    #pageFails {
        background-image: url( ../img/m_fail_bg.jpg );
    }
}

#pageFails .centerElement {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (min-width: 481px){
	#pageFails .ftr__logo{
		display: none;
	}
}
@media (max-width: 480px){
	// #pageFails .centerElement {
	//     top: 50%;
	//     left: 50%;
	//     transform: translate(-50%, -50%);
	// }
	#pageFails .ftr__logo{
		display: block;
		position: absolute;
		width: 100%;
		bottom: 60px;
		left: 0;
		text-align: center;
	}
	#pageFails .ftr__logo img{
        width: 130px;
    }
}
