#pageGuessName {
  background-image: url('../img/q1_bg.png');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 1440px; /* set the background not movable */
  z-index: 3;
}

#pageGuessName.bg-hide {
  background-image: none;
}

@media (max-width: 769px) {
  #pageGuessName {
    background-image: url('../img/q1_bg-m.jpg');
    background-size: 768px;
    background-position: center -100px;
    overflow: hidden;
  }
}

@media (max-width: 480px) {
  #pageGuessName {
    // background-position: center -150px;
    padding-top: 54px;
    overflow: hidden;
  }
}

#pageGuessName > .inner {
  position: absolute;
  z-index: 1;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 769px) {
  #pageGuessName > .inner {
    width: 400px;
    margin: 0 auto;
    top: 100px;
  }
}

@media (max-width: 480px) {
  #pageGuessName > .inner {
    width: auto;
    overflow: hidden;
    top: 0;
    height: 100%;
    transform: none;
    left: 0;
    position: static;
  }
}

#pageGuessName .single-column {
  position: relative;
  z-index: 1;
}

#pageGuessName .inputBorder {
    /*border: none;*/
    display: inline-block;
    // font-family: "edoregular", Serif;
    font-family: "edo";
    font-weight: normal;
    // font-size: 3.2em;
    @include font-size(50);
    line-height: 0.8;
    color: #45140e;
    background-color: transparent;
    /*float: left;*/
    // margin-left: 10px;
    text-align: center;
    margin: 0 5px;

    height: 54px;
    width: 38px;

    background: url('../img/dash.png') no-repeat center bottom;
    background-size: 38px;

    vertical-align: top;
}
#pageGuessName .inputBorder > span {
  display: block;
}
#pageGuessName .inputBorder img {
    width: 45px;
}

#pageGuessName .guessIntro {
  height: 91px;
  vertical-align: bottom;
  display: table;
  text-align: center;
  width: 100%;

  margin-bottom: 30px;
}

#pageGuessName .guessIntro h1 {
  font-family: "edo",sans-serif;
  font-weight: normal;
  margin-bottom: 5px;
  // font-size: 2.2em;
  @include font-size(30);

  &:first-child {
    display: table-cell;
    vertical-align: bottom;
  }

  &.last {
    margin-top: 0;
    margin-bottom: 0;
  }

}

.guessBox {
    /*border-image-source: url('../img/texture.jpg');*/
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -webkit-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -o-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 20px;

    margin-top: 30px;

    width: 300px;


    // > p {
    //   font-weight: bold;
    // }

    .btnBlood {
      padding: 6px 11px;
    }
}
.guessBox > input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #a80101;
    color: #fff;
    // font-size: 200%;
    text-align: center;

    border-radius: none;
    margin-right: 10px;
    @include font-size(32);
}

@media (max-width: 480px){
    #pageGuessName .inputBorder {
        margin-left: 1px;
        // font-size: 2.8em;
        @include font-size(44);
        line-height: 0.5;
        margin-top: 10px;

        height: 38px;
    }
    #pageGuessName .inputBorder img {
        width: 35px;
    }

    #pageGuessName .guessIntro {
      height: 86px;
      margin-bottom: 10px;

      > h1 {
        margin-bottom: 0;
      }
    }


    #pageGuessName .guessBox {
      margin-top: 20px;
    }
}

@media (max-width: 320px){
    #pageGuessName .guessIntro {
      > h1 {
        // font-size: 1.5em;
        @include font-size(24);
      }
    }
}

// #pageGuessName .double-column li {
//     width: 30%;
// }
// #pageGuessName .double-column li:first-child {
//     width: 70%;
// }
// @media (max-width: 480px) {
//     #pageGuessName > div{
//         top: 45%;
//     }
//     #pageGuessName .double-column li {
//         display: inline-block;
//         width: 30%;
//     }
//     #pageGuessName .double-column li:first-child {
//         display: inline-block;
//         width: 67%;
//     }
//     #pageGuessName .double-column li.pontianakBox {
//         margin-left: -12%;
//     }
// }
// @media (max-width: 320px) {
//     #pageGuessName .double-column li.pontianakBox {
//         margin-left: -16%;
//     }
// }


/* PONTIANAK STYLINGS */
.pontianakBox {
  position: absolute;
  top: 0;
  left: 50%;
  width: 640px;
  height: 800px;
  margin-top: -200px;
  margin-left: -50px;
}

.pontianakBox > div {
  width: 640px;
  height: 800px;
}
.pontianak1 { background: transparent url( ../img/01_ponappear.png ) 0 0 no-repeat; }
.pontianak2 { background: transparent url( ../img/02_ponwait.png ) 0 0 no-repeat; }
.pontianak3 { background: transparent url( ../img/03_ponturn_1.png ) 0 0 no-repeat; }
.pontianak4 { background: transparent url( ../img/04_ponwait_1.png ) 0 0 no-repeat; }
.pontianak5 { background: transparent url( ../img/05_ponturn_2.png ) 0 0 no-repeat; }
.pontianak6 { background: transparent url( ../img/06_ponwait_2.png ) 0 0 no-repeat; }
.pontianak7 { background: transparent url( ../img/07_ponturn_3.png ) 0 0 no-repeat; }
.pontianak8 { background: transparent url( ../img/08_ponwait_3.png ) 0 0 no-repeat; }
/*.pontianak9, .pontianakSpecial { background: transparent url( ../img/09_pondash.png ) 0 0 no-repeat; width: 750px !important ; }*/
.pontianak9,
.pontianakSpecial { background: transparent url( ../img/09_pondash.png ) 0 0 no-repeat; }

.pontianakSpecial {
  /*background-position-x: -5400px;*/
  background-position: -1280px -800px;
  display: block;
  height: 100%;
}


@media (max-width: 769px) {
  #pageGuessName .pontianakBox {
    width: 768px;
    height: 1020px;

    margin-left: -384px;
    // margin-left: -192px;
    left: 50%;
  }

  .pontianakBox > div {
    width: 768px;
    height: 1020px;
  }

  .pontianak9, .pontianakSpecial {
    background: transparent url( ../img/09_pondash-m.png ) 0 0 no-repeat;
    width: 768px;
  }

  .pontianak1 { background-image: none; }
  .pontianak2 { background-image: none; }
  .pontianak3 { background-image: none; }
  .pontianak4 { background-image: none; }
  .pontianak5 { background-image: none; }
  .pontianak6 { background-image: none; }
  .pontianak7 { background-image: none; }
  .pontianak8 { background-image: none; }
  .pontianakSpecial {
    /*background-position-x: -5400px;*/
    background-position: -2304px -3060px;
    display: block;
    height: 100%;
  }

}

@media (max-width: 480px) {

  #pageGuessName .pontianakBox {
    width: 480px;
    height: 635px;

    margin-left: -240px;
    top: 100px;
  }

  .pontianakBox > div {
    width: 480px;
    height: 635px;
  }

  .pontianak9, .pontianakSpecial {
    background: transparent url( ../img/09_pondash_480.png ) 0 0 no-repeat;
    width: 480px;
  }

  .pontianakSpecial {
    background-position: -1440px -1905px;
  }

}

@media (max-width: 480px) {
  #pageGuessName .cluesCtr {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }
}

.guess-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  z-index: 2;
  display: none;

  width: 100%;
  height: 100%;
  transform: none;
}
.guess-overlay.active {
  display: block;
}
