//Typography
$lato-light: 300;
//$lato-regular: 400;  /**dropping*/
//$lato-medium: 500;  /**dropping*/
//$lato-semibold: 600;  /**dropping*/
$lato-bold: 700;
//$lato-black: 900;  /**dropping*/


html, body {
    font-family: lato, sans-serif;
    color: #e5e5cf;
    font-weight: $lato-light;
    /*font-size: 16px !important;*/
    overflow: hidden;
    // font-size: 16px;
    @include font-size(14);
    line-height: 1.2em;

    @media #{$short-height-screens-width} and #{$short-height-screens-max} {
      @include font-size(14*0.8);
    }
}
@media (max-width: 768px){
    html, body{
        overflow-y: auto;
    }
}

h1 {
    // font-size: 30px;
    @include font-size(30);
    // font-weight: 600;
    text-transform: capitalize;
    opacity: 1 !important;
    line-height: 1.1em;

    @media #{$short-height-screens-width} and #{$short-height-screens-max} {
        @include font-size(30*0.8);
    }
}

h2 {
    // font-size: 20px;
    @include font-size(20);
    // font-weight: 600;
    text-transform: capitalize;
    line-height: 1.1em;

    @media #{$short-height-screens-width} and #{$short-height-screens-max} {
        @include font-size(20*0.8);
    }
}

h3 {
    // font-size: 16px;
    @include font-size(16);
    // font-weight: 600;
    text-transform: capitalize;
    line-height: 1.1em;

    @media #{$short-height-screens-width} and #{$short-height-screens-max} {
        @include font-size(16*0.8);
    }
}

h4 {
    @include font-size(16);
    line-height: 1.1em;
    // font-size: 16px;
    // line-height: 16px;

    @media #{$short-height-screens-width} and #{$short-height-screens-max} {
        @include font-size(16*0.8);
    }
}

h5 {
    // font-size: 14px;
    @include font-size(14);
    line-height: 1.1em;

    @media #{$short-height-screens-width} and #{$short-height-screens-max} {
        @include font-size(14*0.8);
    }
}

h6 {
    @include font-size(12);
    line-height: normal;

    @media #{$short-height-screens-width} and #{$short-height-screens-max} {
        @include font-size(12*0.8);
    }
}

.font-italic {
    font-style: italic;
}

.font-edo {
    font-family: "edoregular", sans-serif;
}
.font-trajan-pro {
    font-family: "trajan-pro-3", courier;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
.margin-bottom-20 {
    margin-bottom: 20px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-bottom-10 {
    margin-bottom: 10px;
}

.fg-whitish {
    color: #e5e5cf;
}
.fg-orange {
    color: #ffab1a;
}
.fg-black {
    color: #000000;
}
.fg-red {
    color: #a80101;
}

a:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.borderDebug {
    border: 1px solid red;
}

.on-desktop {
    display: block;
}
@media (max-width: 1024px) {
    .on-desktop {
        display: none;
    }
}

.on-mobile {
    display: none;
}
@media (max-width: 1024px) {
    .on-mobile {
        display: block;
    }
}

#pano-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(../img/overlay.png);
  background-size: 100% 100%;
  z-index: 1;
  pointer-events: none;
}

.panoCenter {
    display: none;
    width: 140px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.centerElement {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 480px){
    .centerElement {
        margin-top: 0;
        padding: 0 18px 50px;
        width: 100%;
    }
    .centerElement p{
        // font-size: 16px;
        @include font-size(16);
        // line-height: 20px;
    }
    .centerElement p.fg-yellow {
        margin-bottom: 0;
    }
    .centerElement p br{
        display: none;
    }
}

@media (max-width: 900px) {
    .centerElement {
        position: relative;
        z-index: 1;
        top: 100px;
        left: 0;
        transform: none;
    }
}
@media (max-width: 480px) {
  .centerElement {
    top: 80px;
  }
}

.centerInlineHor {
    text-align: center;
    /*border: none;*/
}
@media (max-width: 480px){
    .centerInlineHor {
        margin-bottom: 10px;
    }
    .centerInlineHor .guessBox{
        padding: 20px 30px;
        // font-size: 14px;
        @include font-size(14);
        // line-height: 18px;
        font-weight: $lato-light;
    }
    .centerInlineHor .guessBox > p {
        // font-size: 14px;
        @include font-size(14);
        // line-height: 18px;
    }
    .centerInlineHor .guessBox > input{
        width: 60px;
        vertical-align: bottom;
        margin-right: 5px;
        font-size: 150%;
        // line-height: 1.3;
        text-align: center;
    }
    .centerInlineHor .guessBox > button{
        padding: 6px 11px;
        font-size: 0.9em;
        font-weight: 700;
    }
}
@media (max-width: 320px){
    .centerInlineHor .guessBox{
        padding: 15px 20px;
    }
}
.centerVer {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translate(0%, -50%);
}

.centerHor {
    display: block;
    margin: 0 auto;
}

.btnClose {
    position: absolute;
    left: 75%;
}
.fadePage {
    display: none;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    text-align: center;
}


.double-column {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.double-column li {
    float: left;
    list-style: none;
    height: 100%;
}
@media (max-width: 600px) {
    .double-column li {
        float: none;
    }
}

.double-column li,
.double-column li {
    width: 50%;
}
.double-column li:first-child,
.double-column li:first-child {
    width: 50%;
}


.double-column li.pontianakBox div {
    height: 100%;
    width: 300px;
    display: none;
    position: absolute;
    /*background-position: center;*/
}
@media (max-width: 480px) {
    .double-column li.pontianakBox div {
        height: 100%;
        width: 180px;
        display: none;
        position: absolute;
        /*background-position: center;*/
    }
}


.borderDebug {
    border: 1px solid red;
}

.borderDebugBlue {
    border: 1px solid blue;
}
.center-hor-inline-children {
    text-align: center;
}

.center-hor-block-children {
    display: inline-block;
    margin: 0 auto;
}

.center-ver-parent {
    display: flex;
    justify-content: center;
    -ms-justify-content : center;
    align-items: center;
}
@media (max-width: 768px) {
    .center-ver-parent {
        display: flex;
        justify-content: center;
        align-items:flex-start;
    }
    .bloodBox.center-ver-parent {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
.center-ver-parent-fix {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.center-ver-hor-parent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.page {
    display: none;
    position: absolute;
    z-index: 30;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    overflow: visible;
}
