@mixin font-size($sizeValue: 12) {
  font-size:  $sizeValue + px;
  font-size: ($sizeValue / 10) + rem;
}


//Media Queries
$tablet-and-below: "(max-width: 768px)";
$mobile-only: "(max-width: 767px)";
$small-mobile: "(max-width: 480px)";

$short-height-screens-max: "(max-height: 700px)";
$short-height-screens-width: "(min-width: 769px)";

$fallback-tablet-height-screens: "(max-height: 600px)";

$desktop-large-min: 1201px;
$desktop-medium-max: $desktop-large-min - 1;
$desktop-medium-min: 992px;
$desktop-small-max: $desktop-medium-min - 1;
$desktop-small-min: 769px;
$tablet-max: 1024px;
$tablet-min: 737px;
// $tablet-portrait-min: 414px;
// $tablet-portrait-max: 736px;
$mobile-max: 736px;

@mixin respond-to($media) {
  @if $media == "desktop-large" {
    @media only screen and (min-width: $desktop-large-min) {
      @content;
    }
  }
  @else if $media == "desktop-medium" {
    @media only screen and (min-width: $desktop-medium-min) and (max-width: $desktop-medium-max) {
      @content;
    }
  }
  @else if $media == "desktop-small" {
    @media only screen and (min-width: $desktop-small-min) and (max-width: $desktop-small-max) {
      @content;
    }
  }
  @if $media == "desktop-combined" {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
  @else if $media == "tablet-ls" {
    @media only screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) and (orientation: landscape) {
      @content;
    }
  }
  @else if $media == "tablet-p" {
    @media only screen and (min-device-width: $tablet-min) and (max-device-width: $tablet-max) and (orientation: portrait) {
      @content;
    }
  }
  @else if $media == "mobile" {
    @media only screen and (max-width: $mobile-max) {
      @content;
    }
  }
  @else if $media == "mobile-ls" {
    @media only screen and (max-width: $mobile-max) and (orientation: landscape) {
      @content;
    }
  }
  @else {
    @media only screen and (max-width: #{$media}px) {
      @content;
    }
  }
}
