
@import "mixins";

//Typography
$lato-light: 300;
$lato-regular: 400;  /**dropping*/
$lato-medium: 500;  /**dropping*/
$lato-semibold: 600;  /**dropping*/
$lato-bold: 700;
$lato-black: 900;  /**dropping*/


@import "bow/bowLanding";
@import "bow/game";
