@import "mixins";

//  local
// $game_cdn_path: "img/";
// $och_cdn_path: "img/";

//  image path for shared game components
// $game_cdn_path: "https://dg0l7q9c72lxu.cloudfront.net/game";
//  image path for och game only
// $och_cdn_path: "img/och";

$game_cdn_path: "img/";
$och_cdn_path: "img/";

//Typography
$lato-light: 300;
$lato-regular: 400;  /**dropping*/
$lato-medium: 500;  /**dropping*/
$lato-semibold: 600;  /**dropping*/
$lato-bold: 700;
$lato-black: 900;  /**dropping*/

@import "och/props";
@import "och/emf";
@import "och/ochFooter";
// @import "och/ochLanding";


@import "och/game";
@import "och/pageClues";
@import "och/pageGuessName";
@import "och/pageGuessDate";
@import "och/pageFails";
@import "och/ochPageShare";
