<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <title>Project Title</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no, minimal-ui" />
    <style>
        @-ms-viewport {
            width: device-width;
        }
    </style>
    <link rel="stylesheet" href="vendor/reset.min.css">
    <!-- <link rel="stylesheet" href="vendor/normalize.css"> -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="fonts/edo_regular_macroman/stylesheet.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic,900" rel=stylesheet type=text/css>
</head>

<body ng-controller="bodyCtrl" class="multiple-scenes view-control-buttons">

    <!-- facebook share  -->
    <script>
        window.fbAsyncInit = function() {
            FB.init({
                appId: '1170183606339093',
                xfbml: true,
                version: 'v2.6'
            });
        };

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) {
                return;
            }
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <!-- guess name -->
    <div id="pageGuessName">
        <div class="centerElement">
            <ul class="double-column borderDebug">
                <li class="borderDebug">
                    <h1 class="centerInlineHor font-edo fg-black" ng-show="guessCorrect">Who Am I?</h1>
                    <h1 class="centerInlineHor font-edo fg-black" ng-show="!guessCorrect">THERE'S NO '{{failLetter}}' IN MY NAME</h1>
                    <h1 class="centerInlineHor font-edo fg-black" ng-show="!guessCorrect">YOU HAVE {{triesLeft}} TRIES LEFT</h1>
                    <br />
                    <br />
                    <div class="centerInlineHor">
                        <div class="inputBorder" ng-repeat="item in name1">
                            <span ng-if="item.display">{{item.letter}}</span>
                            <br />
                            <img src="img/dash.png" />
                        </div>
                    </div>
                    <div class="centerInlineHor">
                        <div class="inputBorder" ng-repeat="item in name2">
                            <span ng-if="item.display">{{item.letter}}</span>
                            <br />
                            <img src="img/dash.png" />
                        </div>
                    </div>
                    <br />
                    <br />
                    <div class="centerInlineHor">
                        <div class="guessBox">
                            <p>Enter a character to unravel the name</p>
                            <br />
                            <input type="text" ng-model="singleLetter" maxlength="1" size="5" class="edoFont" />
                            <button ng-click="checkName()" class="btnGuess active">ENTER</button>
                            <button onclick="hidePage( '#pageGuessName' ); showPage( '#pageGuessDate'); animatePontianakError( 1 );" class="btnGuess active">GUESS DATE</button>
                        </div>
                    </div>
                </li>
                <li class="pontianakBox">
                    <div class="pontianak1"></div>
                    <div class="pontianak2"></div>
                    <div class="pontianak3"></div>
                    <div class="pontianak4"></div>
                    <div class="pontianak5"></div>
                    <div class="pontianak6"></div>
                    <div class="pontianak7"></div>
                    <div class="pontianak8"></div>
                    <div class="pontianak9"></div>
                </li>
            </ul>
        </div>
    </div>

    <!-- guess date -->
    <div id="pageGuessDate">
        <div class="centerElement">
            <ul class="double-column">
                <li class="borderDebug">
                    <div class="centerVer centerInlineHor">
                        <h5 class="font-trajan-pro fg-red centerInlineHor">This Is Yet To be Over</h5>
                        <br />
                        <br />
                        <h3 class="centerInlineHor">How many nights will <br />Halloween Horror Nights 6 be held?</h3>
                        <br />
                        <br />
                        <div>
                            <a ng-repeat="date in dates" ng-click="checkDate( date.date );hidePage( '#pageGuessDate' ); showPage( '#pageShare'); ">
                                {{date.date}}
                            </a>
                        </div>
                        <br />
                        <br />
                    </div>
                </li>
                <li class="pontianakBox">
                    <div class="pontianak9">
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- guess date -->
    <div id="pageShare">
        <div class="centerElement">
            <ul class="double-column">
                <li>
                    <div class="clueImage">
                        <img src="img/code.png" class="centerHor" />
                    </div>
                    <br />
                    <p class="centerInlineHor">
                        Collect all 5 codes to unlock the final haunting
                    </p>
                    <p class="centerInlineHor">
                        <a href="#" class="iconDownload fg-yellow">
                            <!-- <img src="img/download.svg"/> -->
                            DOWNLOAD IMAGE
                        </a>
                    </p>
                </li>
                <li>
                    <h4 class="font-trajan-pro centerInlineHor">Spread The Word Of Evil</h4>
                    <br />
                    <p class="centerInlineHor">
                        Stand a chance to win 2 pairs of ticket to Halloween Horror Nights 6 by sharing your survival with friends.
                    </p>
                    <br />
                    <div class="leaderboardBox">
                        <div>
                            <p class="font-trajan-pro bold fg-yellow centerInlineHor">SHARE &amp; WIN NOW</p>
                        </div>
                        <div class="guessBox">
                            <p class="bold centerInlineHor">YOUR TIME <span class="fg-yellow">04:05</span></p>
                            <br />
                            <div class="centerInlineHor">
                                <a href="#" class="iconSocMed facebook" ng-click="share( 'facebook' )"></a>
                                <a href="#" class="iconSocMed twitter"></a>
                                <a href="#" class="iconSocMed weibo"></a>
                            </div>
                            <br />
                            <div class="topBorderRed">
                                <br />
                                <p class="bold centerInlineHor">LEADERBOARD</p>
                                <br />
                                <ul class="double-column centerInlineHor leaderboard">
                                    <li>
                                        <div ng-repeat="entry in entry1to5">
                                            {{$index}}. {{entry.time}}
                                        </div>
                                    </li>
                                    <li>
                                        <div ng-repeat="entry in entry2to5">
                                            {{$index}}. {{entry.time}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- Marzipano Pano -->
    <div id="pano"></div>

    <!-- clues location in pano -->
    <div id="clue-1" class="borderDebug" style="height: 5px; width: 5px"></div>
    <div id="clue-2" class="borderDebug" style="height: 5px; width: 5px"></div>
    <div id="clue-3" class="borderDebug" style="height: 5px; width: 5px"></div>

    <!-- <img src="img/arrow_up.png" id="switch-1" /> -->

    <!-- camera icon -->
    <img class="panoCenter" src="img/icon_camera.png" />

    <!-- EMP meter -->
    <img src="img/emf_1.png" class="empMeter" />

    <!-- clues counter -->
    <div class="cluesCtr" onclick="showPage( '.fadePage' );showPage( '', '#pageClues'); showClues();">
        <img src="img/clue.png" />
    </div>

    <!-- single clue -->
    <div id="cluePlaceholder" class="cluePlaceholder">
        <a href="#" class="closeButtonRed">
        </a>
        <img/>
    </div>

    <!-- clues gallery -->
    <div class="fadePage">
    </div>

    <div id="pageClues">
        <a href="#" class="closeButtonRed">
        </a>
        <img src="img/photo_clue_blank.png" class="borderDebug" />
        <img src="img/photo_clue_blank.png" class="borderDebug" />
        <img src="img/photo_clue_blank.png" class="borderDebug" />
        <br />
        <br />
        <a href="#" class="btnGuess">
            Guess
        </a>
    </div>

    <div style="display:none">
        <div id="sceneList">
            <ul class="scenes">
                <a href="#" class="scene" data-id="0-snowy">
                    <li class="text">snowy</li>
                </a>
                <a href="#" class="scene" data-id="1-home">
                    <li class="text">home</li>
                </a>
            </ul>
        </div>

        <div id="titleBar">
            <h1 class="sceneName"></h1>
        </div>

        <a href="#" id="autorotateToggle">
            <img class="icon off" src="img/play.png">
            <img class="icon on" src="img/pause.png">
        </a>

        <a href="#" id="fullscreenToggle">
            <img class="icon off" src="img/fullscreen.png">
            <img class="icon on" src="img/windowed.png">
        </a>

        <a href="#" id="sceneListToggle">
            <img class="icon off" src="img/expand.png">
            <img class="icon on" src="img/collapse.png">
        </a>

        <a href="#" id="viewUp" class="viewControlButton viewControlButton-1">
            <img class="icon" src="img/up.png">
        </a>
        <a href="#" id="viewDown" class="viewControlButton viewControlButton-2">
            <img class="icon" src="img/down.png">
        </a>
        <a href="#" id="viewLeft" class="viewControlButton viewControlButton-3">
            <img class="icon" src="img/left.png">
        </a>
        <a href="#" id="viewRight" class="viewControlButton viewControlButton-4">
            <img class="icon" src="img/right.png">
        </a>
        <a href="#" id="viewIn" class="viewControlButton viewControlButton-5">
            <img class="icon" src="img/plus.png">
        </a>
        <a href="#" id="viewOut" class="viewControlButton viewControlButton-6">
            <img class="icon" src="img/minus.png">
        </a>
    </div>

    <script src=https://use.typekit.net/gmu3kbc.js></script>
    <script>
        try {
            Typekit.load({
                async: true
            });
        } catch (e) {}
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="vendor/es5-shim.js"></script>
    <script src="vendor/eventShim.js"></script>
    <script src="vendor/classList.js"></script>
    <script src="vendor/requestAnimationFrame.js"></script>
    <script src="vendor/screenfull.min.js"></script>
    <script src="vendor/bowser.min.js"></script>
    <script src="vendor/marzipano.js"></script>
    <script src="vendor/jquery.spritely.js"></script>
    <script src="vendor/motio.min.js"></script>
    <script src="vendor/jquery.motio.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="controller.js"></script>
    <script src="data.js"></script>
    <script src="index.js"></script>
    <script src="game.js"></script>


</body>

</html>
