#singleClue {
    display: none;
    position: absolute;
    z-index: 46;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    // background-color: rgba(0, 0, 0, 0.65);
    overflow: visible;
}
#singleClue > img {
    position: absolute;
    top: calc( 50% - 60px );
    left: 50%;
    height: 376px;
    width: auto;
    margin-bottom: 20px;
    transform: translate(-50%, -50%);
}
@media (max-width: 768px) {
    #singleClue > img {
        top: calc( 50% - 40px );
        height: 30%;
    }
}
@media (max-width: 920px) {
    #singleClue > img {
        top: calc( 50% - 40px );
        height: 40%;
    }
}
.closeButtonRed {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-image: url('../img/icon-close.png');
}
.bloodBox {
    /*border-image-source: url('../img/texture.jpg');*/
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url("../img/texture.jpg") 4 4 4 4 repeat;
    -webkit-border-image: url("../img/texture.jpg") 4 4 4 4 repeat;
    -o-border-image: url("../img/texture.jpg") 4 4 4 4 repeat;
    border-image: url("../img/texture.jpg") 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.70);
    padding: 11px 15px 15px 15px;
}
.bloodBox > h4 {
    // -webkit-transition: all 1s ease;
    // -moz-transition: all 1s ease;
    // transition: all 1s ease;
}
#pageFails {
    background-color: transparent;
    background-image: none;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
}
#pageBlackBg {
    background-color: #000;
    position: absolute;
    z-index: 30;
}
#pageFails > div {
    width: 100%;
    height: 100%;
}
#pageFails > div > div {
    width: calc( 100% - 80px );
    max-width: 500px;
}
#pageSplatter_4 {
    background: url("../img/splatter_overlay1.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom right;
    pointer-events: none;
    position: absolute;
    z-index: 45;
    background-size: contain;
}
#pageSplatter_3 {
    background: url("../img/splatter_overlay2.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: top left;
    pointer-events: none;
    position: absolute;
    z-index: 45;
}
#pageSplatter_2 {
    background: url("../img/splatter_overlay3.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom left;
    pointer-events: none;
    position: absolute;
    z-index: 45;
}
#pageSplatter_1 {
    background: url("../img/splatter_overlay4.png");
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: bottom left;
    pointer-events: none;
    position: absolute;
    z-index: 45;
}
@media (max-width: 768px) {
    #pageSplatter_4 {
        background: url("../img/mobile/M_splatter_overlay1.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: bottom right;
        pointer-events: none;
        position: absolute;
        z-index: 45;
        background-size: auto 100%;
    }
    #pageSplatter_3 {
        background: url("../img/mobile/M_splatter_overlay2.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: top left;
        pointer-events: none;
        position: absolute;
        z-index: 45;
        background-size: contain;
    }
    #pageSplatter_2 {
        background: url("../img/mobile/M_splatter_overlay3.png");
        background-color: transparent;
        background-repeat: no-repeat;
        background-position: bottom left;
        pointer-events: none;
        position: absolute;
        z-index: 45;
        background-size: contain;
    }
}
.codeImage > div:nth-child(2) {
    width: 170px;
    font-size: 11px;
    font-weight: 400;
}
.clue {
    cursor: pointer;
}
.clue > div {
    // pointer-events: none;
}

.bottomArea {
    display: none;
    width: 440px;
    position: absolute;
    z-index: 50;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -30%);
    text-align: center;
}
.boxShadow {
    -moz-border-image: url("../img/transparent.png") 4 4 4 4 repeat;
    -webkit-border-image: url("../img/transparent.png") 4 4 4 4 repeat;
    -o-border-image: url("../img/transparent.png") 4 4 4 4 repeat;
    border-image: url("../img/transparent.png") 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.70);
    border: 4px solid #ff531a;
    // border-image: url(../img/transparent.png);
    // background-color: #ff531a;
}
.bottomArea > div:first-child {
    margin-bottom: 10px;
    width: 440px;
    font-style: italic;
    position: relative;
    z-index: 50;
    height: 90px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.7);
}
@media (max-width: 768px) {
    .bottomArea {
        width: 360px;
    }
    .bottomArea > div:first-child {
        margin: 0 auto 10px;
        width: calc( 100% - 100px );
        height: 80px;
    }
}
@media (max-width: 920px) {
    .bottomArea {
        width: 360px;
    }
    .bottomArea > div:first-child {
        margin: 0 auto 10px;
        width: calc( 100% - 70px );
        height: 80px;
    }
}
.bottomArea > div:nth-child(2) > img {
    width: 30px;
    margin-right: 5px;
    height: auto;
    display: inline-block;
}
.bottomArea > div:nth-child(2) > img:last-child {
    margin-right: 0;
}

////////////////
// CLue glow
////////////////

.clue-glow {
    // background-color: rgba(0, 0, 0, 0.70) ;
    // border: 1px solid transparent;
    -webkit-animation: glowing_clue_icon 1s steps(10) 1;
    -moz-animation: glowing_clue_icon 1s steps(10) 1;
    animation: glowing_clue_icon 1s steps(10) 1;
    -webkit-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
    -moz-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
    box-shadow: 0 0 5px 5px rgba(204,10,0,1) ;
}
@-webkit-keyframes glowing_clue_icon {
    0% {

        -webkit-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        -moz-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        box-shadow:0 0 5px 5px rgba(204,10,0,1);
    }
    50% {
        -webkit-box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
        -moz-box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
        box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
    }
    100% {
        -webkit-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        -moz-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        box-shadow: 0 0 5px 5px rgba(204,10,0,1);
    }
}
@-moz-keyframes glowing_clue_icon {
    0% {
        -webkit-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        -moz-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        box-shadow:0 0 5px 5px rgba(204,10,0,1);
    }
    50% {
        -webkit-box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
        -moz-box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
        box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
    }
    100% {
        -webkit-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        -moz-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        box-shadow:0 0 5px 5px rgba(204,10,0,1);
    }
}
@keyframes glowing_clue_icon {
    0% {
        -webkit-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        -moz-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        box-shadow:0 0 5px 5px rgba(204,10,0,1);
    }
    50% {
        -webkit-box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
        -moz-box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
        box-shadow: 0 0 10px 10px rgba(204,10,0,0.8);
    }
    100% {
        -webkit-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        -moz-box-shadow: 0 0 5px 5px rgba(204,10,0,1);
        box-shadow:0 0 5px 5px rgba(204,10,0,1);
    }
}

.wrong-answer-red {
    color: #CC0A00 !important;
    text-transform: uppercase;
 }

#interactionPromptTemp {
    display: none;
    position: absolute;
    z-index: 46;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#interactionPromptTemp img {
    height: 50%;
    width: 50%;
}
