/* ----------------------------------------------------
   created with http://www.codeandweb.com/texturepacker 
   ----------------------------------------------------
   $TexturePacker:SmartUpdate:9e838d62ac58e95f4eda9b19f7b2e355:35c485c7d83488e468f146f731702bc4:4048e6ecbe0ab2c1989b3e19148e7a35$
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(icons-2xa.png);}

.icon_download {width:34px; height:40px; background-position: -0px -0px}
.icon_download_ro {width:34px; height:40px; background-position: -34px -0px}
.icon_fb {width:160px; height:88px; background-position: -68px -0px}
.icon_fb_ro {width:160px; height:88px; background-position: -228px -0px}
.icon_replay {width:34px; height:40px; background-position: -388px -0px}
.icon_replay_ro {width:34px; height:40px; background-position: -422px -0px}
.icon_twitter {width:160px; height:88px; background-position: -456px -0px}
.icon_twitter_ro {width:160px; height:88px; background-position: -616px -0px}
.icon_weibo {width:160px; height:88px; background-position: -776px -0px}
.icon_weibo_ro {width:160px; height:88px; background-position: -936px -0px}
