.btnBlood {
    display: inline-block;
    padding: 0px 20px;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/texture_inactive.jpg');
    background-repeat: no-repeat;
    border: none;
    font-weight: $lato-bold;
    color: #e5e5cf;

    -webkit-transition: all .5s ease-out;
    -moz-transition: all .5s ease-out;
    transition: all .5s ease-out;

    @media #{$short-height-screens-width} and #{$short-height-screens-max} {
      height: 32px;
      line-height: 30px;
    }


}
.btnBlood.active {
    background-image: url('../img/texture.jpg');
    background-color: #a80101;
}


.btnBlood.active:hover {
    background-image: url( '../img/transparent.png' );
}
