.black {
    font-weight: 800;
}

.bold {
    font-weight: 700;
}

.blood-bg {
    width: 682px;
    height: 220px;
    background-image: url( ../img/landing_blood.png );
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 40px 40px 10px 40px;

}

@media (max-width: 768px) {
    .blood-bg {
        height: auto;
        width: auto;

        position: relative;
        top: -10px;
        // margin-top: 20px;
    }
}

.blood-bg img {
    max-width: 50px;
    height: auto;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
    .blood-bg img {
        max-width: 60px;
        height: auto;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .blood-bg > div:nth-child(2) > div:first-child > img {
        max-width: 60px;
        height: auto;
        margin-top: 10px;
        // border: 1px solid blue;
    }
}
