html, body {
    font-family: lato, sans-serif;
    color: #e5e5cf;
    font-weight: 500 !important;
    /*font-size: 16px !important;*/
    overflow:hidden
}
@media (max-width: 480px){
    html, body{
        overflow: auto;
    }
}

a:hover {
    cursor: pointer;
}

.hide {
    display: none;
}

.borderDebug {
    border: 1px solid red;
}
.panoCenter {
    display: none;
    width: 140px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.empMeter {
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cluesCtr {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 90%;
    transform: translate(-50%, -50%);
    display: none;
}
.cluesCtr img {
    width: 100px;
    height: auto;
}
.centerElement {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media (max-width: 480px){
    .cluesCtr {
    	width: 30%;
    	top: 78%;
    	left: 84%;
    	z-index: 41;
    }
}
@media (max-width: 480px){
    .centerElement {
        margin-top: 0;
        padding: 0 18px 50px;
        width: 100%;
    }
    .centerElement p{
        font-size: 16px;
        line-height: 20px;
    }
    .centerElement p.fg-yellow {
        margin-bottom: 0;
    }
    .centerElement p br{
        display: none;
    }
}

@media (max-width: 1024px) {
    .centerElement {
        position: relative;
        z-index: 1;
        top: 80px;
        left: 0;
        transform: none;
    }
}
.centerInlineHor {
    text-align: center;
    /*border: none;*/
}
@media (max-width: 480px){
    .centerInlineHor {
        margin-bottom: 10px;
    }
    .centerInlineHor .guessBox{
        padding: 20px 30px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
    }
    .centerInlineHor .guessBox > p {
        font-size: 14px;
        line-height: 18px;
    }
    .centerInlineHor .guessBox > input{
        width: 60px;
        vertical-align: bottom;
        margin-right: 5px;
        font-size: 150%;
        line-height: 1.3;
        text-align: center;
    }
    .centerInlineHor .guessBox > button{
        padding: 6px 11px;
        font-size: 0.9em;
        font-weight: 700;
    }
}
.centerVer {
    display: inline-block;
    position: relative;
    z-index: 1;
    top: 50%;
    transform: translate(0%, -50%);
}

.centerHor {
    display: block;
    margin: 0 auto;
}

.btnClose {
    position: absolute;
    left: 75%;
}
.fadePage {
    display: none;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    text-align: center;
}
#pageClues > div > img {
    width: 30%;
    height: auto;
    margin-left: 10px;
}
#pageGuessName,
#pageGuessDate,
#pageShare,
#pageClues {
    display: none;
    background-image: url('../img/q1_bg.png');
    background-position: center;
    background-size: cover;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 40;
}
#pageGuessName> div, #pageGuessDate> div {
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 80%;
    transform: translate(-50%, -50%);
}
@media (max-width: 480px){
    #pageGuessName> div, #pageGuessDate> div {
        position: absolute;
        z-index: 30;
        top: 50%;
        left: 50%;
        height: 60%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
}


#pageClues,
#pageGuessDate,
#pageShare {
    background-image: none;
    background-color: #000;
}

#pageClues {
    z-index: 100;
}

/*#pageClues {
    display: none;
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    height: 60%;
    width: auto;
    transform: translate(-50%, -50%);
    background-color: #000;
}*/

/*#pageGuessName > div > input {
    display: none;
    border: none;
    border-bottom: 5px red dotted;
    background-color: transparent;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 50%;
}*/

.cluePlaceholder {
    display: none;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    height: 50%;
    width: auto;
    transform: translate(-50%, -50%);
}
#cluePlaceholder img {
    height: 100%;
    width: auto;
}
.closeButtonRed {
    display: none;
    position: absolute;
    top: 25px;
    right: 25px;
    width: 25px;
    height: 25px;
    background-size: cover;
    background-image: url('../img/icon-close.png');
}
.btnBlood {
    display: inline-block;
    padding: 10px 15px 10px 15px;
    background-position: center;
    background-size: cover;
    background-image: url('../img/texture_inactive.jpg');
    background-repeat: none;
    border: none;
    font-weight: 800;
    color: #e5e5cf;
}
.btnBlood.active {
    background-position: center;
    background-size: cover;
    background-repeat: none;
    background-image: url('../img/texture.jpg');
}
.btnBlood.active:hover {
    background-image: none;
    background-color: #CC0A00;

}
#pageGuessName .inputBorder {
    /*border: none;*/
    display: inline-block;
    font-family: "edoregular", Serif;
    font-size: 2em;
    color: #45140e;
    background-color: transparent;
    /*float: left;*/
    margin-left: 10px;
    text-align: center;
}
@media (max-width: 480px){
    #pageGuessName .inputBorder{   
        margin-left: 1px;
        font-size: 2.7em;
        line-height: 0.5;
    }
    #pageGuessName .inputBorder img{
        width: 29px;
    }
    #pageGuessName h1.font-edo{
        margin-bottom: 5px;
        font-size: 2.2em;
    }
    #pageGuessName h1.font-edo.ng-binding{
        font-size: 1.4em;
    }
    #pageGuessName h1.font-edo.last.ng-binding{
        font-size: 1.2em;
    }
}
.font-edo {
    font-family: "edoregular", sans-serif;
}

.font-trajan-pro {
    font-family: "trajan-pro-3", courier;
}

.fg-whitish {
    color: #e5e5cf;
}
.fg-yellow {
    color: #ffab1a !important;
}
.fg-black {
    color: #000;
}
.fg-red {
    color: #a80101;
}
.guessBox {
    /*border-image-source: url('../img/texture.jpg');*/
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -webkit-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -o-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 30px;
}
.guessBox > input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #a80101;
    color: #fff;
    font-size: 200%;
    text-align: center;
}

.double-column {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.double-column li {
    float: left;
    list-style: none;
    height: 100%;
}
@media (max-width: 600px) {
    .double-column li {
        float: none;
    }
}

#pageGuessDate > div {
    width: 50%;
}

.double-column li,
.double-column li {
    width: 50%;
}
.double-column li:first-child,
.double-column li:first-child {
    width: 50%;
}

#pageGuessName .double-column li {
    width: 30%;
}
#pageGuessName .double-column li:first-child {
    width: 70%;
}
@media (max-width: 480px) {
    #pageGuessName > div{
        top: 45%;
    }
    #pageGuessName .double-column li {
        display: inline-block;
        width: 30%;
    }
    #pageGuessName .double-column li:first-child {
        display: inline-block;
        width: 67%;
    }
    #pageGuessName .double-column li.pontianakBox {
        margin-left: -12%;
    }
}
.double-column li.pontianakBox div {
    height: 100%;
    width: 300px;
    display: none;
    position: absolute;
    /*background-position: center;*/
}
@media (max-width: 480px) {
    .double-column li.pontianakBox div {
        height: 100%;
        width: 180px;
        display: none;
        position: absolute;
        /*background-position: center;*/
    }
}

.pontianak1 { background: transparent url( ../img/01_ponappear.png ) 0 0 no-repeat; }
.pontianak2 { background: transparent url( ../img/02_ponwait.png ) 0 0 no-repeat; }
.pontianak3 { background: transparent url( ../img/03_ponturn_1.png ) 0 0 no-repeat; }
.pontianak4 { background: transparent url( ../img/04_ponwait_1.png ) 0 0 no-repeat; }
.pontianak5 { background: transparent url( ../img/05_ponturn_2.png ) 0 0 no-repeat; }
.pontianak6 { background: transparent url( ../img/06_ponwait_2.png ) 0 0 no-repeat; }
.pontianak7 { background: transparent url( ../img/07_ponturn_3.png ) 0 0 no-repeat; }
.pontianak8 { background: transparent url( ../img/08_ponwait_3.png ) 0 0 no-repeat; }
.pontianak9, .pontianakSpecial { background: transparent url( ../img/09_pondash.png ) 0 0 no-repeat; width: 750px !important ; }

@media (max-width: 480px) {
    .pontianak1 { background: transparent url( ../img/01_ponappear-m.png ) 0 0 no-repeat; }
    .pontianak2 { background: transparent url( ../img/02_ponwait-m.png ) 0 0 no-repeat; }
    .pontianak3 { background: transparent url( ../img/03_ponturn_1-m.png ) 0 0 no-repeat; }
    .pontianak4 { background: transparent url( ../img/04_ponwait_1-m.png ) 0 0 no-repeat; }
    .pontianak5 { background: transparent url( ../img/05_ponturn_2-m.png ) 0 0 no-repeat; }
    .pontianak6 { background: transparent url( ../img/06_ponwait_2-m.png ) 0 0 no-repeat; }
    .pontianak7 { background: transparent url( ../img/07_ponturn_3-m.png ) 0 0 no-repeat; }
    .pontianak8 { background: transparent url( ../img/08_ponwait_3-m.png ) 0 0 no-repeat; }
    .pontianak9, .pontianakSpecial { background: transparent url( ../img/09_pondash-m.png ) 0 0 no-repeat; width: 600px !important ; }
}

.pontianak9 {
  margin-left: -270px;
  margin-top: -154px;
  height: 166% !important;
}

.pontianakSpecial {
  background-position-x: -5400px;
  display: block;
  height: 100%;
}

#pageGuessDate li:first-child div div  {
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -webkit-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -o-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.60);
}

#pageGuessDate li:first-child div div a {
    display: inline-block;
    border-left: 1px solid #a80101;
    border-right: 1px solid #a80101;
    text-align: center;
    padding: 20px;
    font-size: 120%;
    color: #ffab1a;
    font-weight: bold;
    border-right: 1px solid #a80101;
    cursor: pointer;
}

@media (max-width: 480px) {
	#pageGuessDate > div{
		width: 100%;
	}
	#pageGuessDate .double-column li{
		width: 100%;
	}
	#pageGuessDate .double-column li:first-child{
		width: 100%;
		margin-top: 50%;

	}
	#pageGuessDate .double-column li:last-child{
		position: absolute;
		top: 0;
	}
	#pageGuessDate .double-column li .pontianakSpecial{
		display: block;
		height: 200%;
		background-position-x: -5425px;
	}
    #pageGuessDate .double-column li h3.centerInlineHor {
    	font-family: Lato, sans-serif;
    	font-size: 220%;
    }
}


h1 {
    font-size: 250%;
}

h2 {
    font-size: 220%;
}

h3 {
    font-size: 190%;
    font-weight: 400;
}

h4 {
    font-size: 160%;
}

h5 {
    font-size: 130%;
}

h6 {
    font-size: 110%;
}

#pageShare > div > div {
  float: right;
}

#pageShare .centerElement {
  min-width: 865px;
}

.clueImage {
    padding: 0px 60px 60px 60px;
    background-image: url( ../img/code_bg.png );
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.clueImage > img {
    max-width: 260px;
    height: auto;
}

.clueShare {
  width: 460px;
}

.guessBoxHeader {
    padding: 12px 7px 7px 7px;
    background-image: url(../img/texture.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.leaderboardBox {
    width: 290px;
}

.leaderboardBox > div {
    width: 100%;
}

.leaderboardBox  li  div {
    text-align: left;
}

.leaderboardScore {
    display: block;
    width: 70%;
}

.bold {
    font-weight: 900;
}

.topBorderRed {
    border-top: 1px solid #a80101;
}

.iconSocMed {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.iconSocMed.facebook        { background-image: url(../img/icon_fb.png); }
.iconSocMed.facebook:hover  { background-image: url(../img/icon_fb_ro.png); }

.iconSocMed.twitter         { background-image: url(../img/icon_twitter.png); }
.iconSocMed.twitter:hover   { background-image: url(../img/icon_twitter_ro.png); }

.iconSocMed.weibo           { background-image: url(../img/icon_fb.png); }
.iconSocMed.weibo:hover     { background-image: url(../img/icon_fb_ro.png); }

.iconDownload {
    display: inline-block;
    margin: 20px;
    background-image: url( ../img/icon_download.png);
    height: 30px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 37px;
    line-height: 30px;
    color: #ffab1a !important;
}

.iconDownload:hover {
    color: #ffe14c !important;
}

#pageLanding {
    background-image: url( ../img/och_landing_bg.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 40;
}

#pageLanding h2 {
  margin-bottom: 24px;
}

#pageLanding > div > p {
  margin-bottom: 16px;
}

#pageLanding > div > a {
  margin-top: 12px;
}

@media (max-height: 600px) {
  #pageLanding h2 {
    margin-bottom: 12px;
  }

  #pageLanding > p {
    margin-bottom: 16px;
  }
}

#pageLanding > div > div {
    width: 600px;
    height: 307px;
    position: relative;
    padding: 40px 50px 10px 50px;
    background-image: url(../img/landing_blood.png);
    background-size: contain;
    background-position: top;
    background-repeat: repeat;
}

@media (max-width: 1024px) {
    #pageLanding > div > div {
        width: 100%;
        height: 100%;
        background-image: url( ../img/landing_blood.png );
        background-size: 100% 100%  ;
        background-position: top;
        background-repeat: no-repeat;
        position: relative;
        padding: 50px 10px ;
        overflow: visible;
    }
}

#pageLanding > div > div > ul {
    height: auto;
}

#pageLanding > div > div > ul > li {
    padding: 10px;
    margin-bottom: 10px;
    /*font-size: 100%;*/
}

#pageLanding > div > div > ul > li > img {
    max-height: 50px;
    width: auto;
}

@media (min-width: 480px){
    #pageLanding .ftr__logo{
        display: none;
    }
}
@media (max-width: 480px){
    #pageLanding{
        height: auto;
        min-height: 100%;
    }
    #pageLanding > div > div {
        width: 100%;
        height: auto;
        padding: 40px 15px 0 15px;
        background-image: url(../img/landing_blood.png);
        background-size: contain;
        background-position: top;
        background-repeat: repeat;
    }
    #pageLanding > div > div .double-column{
        margin-top: -10px;
    }
    #pageLanding > div > div .double-column:first-of-type{
        margin-top: 0;
    }
    #pageLanding > div > div .double-column li{
        width: 100%;
    }
    #pageLanding > div > div > ul > li {
        margin-top: -20px;
        margin-bottom: 0;
        padding: 10px 50px 20px;
        background-image: url(../img/landing_blood.png);
        background-size: cover;
        background-position: top;
        background-repeat: repeat;
        line-height: 1.2em;
    }
    #pageLanding > div > div > ul > li:first-child {
        margin-top: 0;
    }
    #pageLanding > div > div > ul > li:last-child {
        margin-top: -20px;
        padding-bottom: 60px;
    }
    #pageLanding .ftr__logo{
        display: block;
        width: 100%;
        position: initial;
        bottom: 0;
        left: 0;
        margin-top: 45px;
    }
    #pageLanding .ftr__logo img{
        width: 130px;
    }
}

@media (max-width: 1024px) {
    #pageLanding > div > div img {
        max-height: auto;
        max-width: 50px;
    }
}

#pageFails {
    background-image: url( ../img/fail_bg.jpg );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
}

.numbering {
    display: inline;
    text-align: right;
}

.url-yellow {
    color: #ffab1a !important;
}

.url-yellow:hover {
    color: #ffe14c !important;
}

.replay {
    background-image: url( ../img/icon_replay.png );
    background-positon: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
    color: #ffab1a;
}

.replay:hover {
    background-image: url( ../img/icon_replay_ro.png );
    color: #ffe14c;
}

.emf__container {
  list-style-type: none;

  background-image: url('../img/emf-bg.png');

  width: 150px;
  height: 27px;
  position: absolute;
  z-index: 1;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}
@media (max-width: 480px){
	.emf__container {
		top: 85%;
	}
}
.emf__container > li {
  display: inline-block;
  width: 25px;
  height: 25px;
  background-position: left top;
}

.emf__container > li.emf__1 {
  background-image: url('../img/emf-green.png');
}

.emf__container > li.emf__2 {
  background-image: url('../img/emf-green.png');
}

.emf__container > li.emf__3 {
  background-image: url('../img/emf-yellow.png');
}

.emf__container > li.emf__4 {
  background-image: url('../img/emf-orange.png');
}

.emf__container > li.emf__5 {
  background-image: url('../img/emf-red.png');
}

.emf__container.is-region-1 > li.emf__1,
.emf__container.is-region-1 > li.emf__2,
.emf__container.is-region-1 > li.emf__3,
.emf__container.is-region-1 > li.emf__4,
.emf__container.is-region-1 > li.emf__5 {
  background-position: left bottom;
}

.emf__container.is-region-2 > li.emf__1,
.emf__container.is-region-2 > li.emf__2,
.emf__container.is-region-2 > li.emf__3,
.emf__container.is-region-2 > li.emf__4 {
  background-position: left bottom;
}

.emf__container.is-region-3 > li.emf__1,
.emf__container.is-region-3 > li.emf__2,
.emf__container.is-region-3 > li.emf__3 {
  background-position: left bottom;
}

.emf__container.is-region-4 > li.emf__1,
.emf__container.is-region-4 > li.emf__2 {
  background-position: left bottom;
}

.emf__container.is-region-5 > li.emf__1 {
  background-position: left bottom;
}

.emf__container.is-region-6 > li.emf__1 {
  background-position: left bottom;
}

.emf__container.is-region-2 > li.emf__5,
.emf__container.is-region-3 > li.emf__4,
.emf__container.is-region-4 > li.emf__3,
.emf__container.is-region-5 > li.emf__2 {
  animation: flicker .8s steps(1) infinite;
}

@keyframes flicker {
  0% {
    background-position: left top;
  }
  1% {
    background-position: left bottom;
  }
  5% {
    background-position: left top;
  }

  50% {
    background-position: left top;
  }
  51% {
    background-position: left bottom;
  }
  55% {
    background-position: left top;
  }

  79% {
    background-position: left top;
  }
  80% {
    background-position: left bottom;
  }
  90% {
    background-position: left top;
  }
}

@-webkit-keyframes flicker {
  0% {
    background-position: left top;
  }
  1% {
    background-position: left bottom;
  }
  5% {
    background-position: left top;
  }

  50% {
    background-position: left top;
  }
  51% {
    background-position: left bottom;
  }
  55% {
    background-position: left top;
  }

  79% {
    background-position: left top;
  }
  80% {
    background-position: left bottom;
  }
  90% {
    background-position: left top;
  }
}

@-moz-keyframes flicker {
  0% {
    background-position: left top;
  }
  1% {
    background-position: left bottom;
  }
  5% {
    background-position: left top;
  }

  50% {
    background-position: left top;
  }
  51% {
    background-position: left bottom;
  }
  55% {
    background-position: left top;
  }

  79% {
    background-position: left top;
  }
  80% {
    background-position: left bottom;
  }
  90% {
    background-position: left top;
  }
}

.on-desktop {
    display: block;
}
@media (max-width: 1024px) {
    .on-desktop {
        display: none;
    }
}

.on-mobile {
    display: none;
}
@media (max-width: 1024px) {
    .on-mobile {
        display: block;
    }
}

#scare {
  width: 974px;
  height: 1119px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  display: none;
  background-image: url('../img/scare.png');
  background-size: cover;
  background-position: 0 0;
}

.scare-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000000;

  display: none;
}

.scare-overlay.active {
  display: block;
}

@media (max-width: 1000px) {
  #scare {
    width: 389px;
    height: 447px;
    background-image: url('../img/scare-m.png');
  }
}
