.borderDebug {
    border: 1px solid red;
}
.panoCenter {
    display: none;
    width: 140px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.empMeter {
    width: 100px;
    height: 40px;
    position: absolute;
    z-index: 1;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cluesCtr {
    width: 60px;
    height: 60px;
    position: absolute;
    z-index: 1;
    top: 85%;
    left: 90%;
    transform: translate(-50%, -50%);
    display: none;
}
.cluesCtr img {
    width: 100px;
    height: auto;
}
.centerElement {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.centerInlineHor {
    text-align: center;
    border: none;

}
.btnClose {
    position: absolute;
    left: 75%;
}
.fadePage {
    display: none;
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    z-index: 20;
    text-align: center;
}
#pageClues {
    display: none;
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    height: 60%;
    width: auto;
    transform: translate(-50%, -50%);
}
#pageClues> img {
    width: 30%;
    height: auto;
    margin-left: 10px;
}
#pageGuessName,
#pageGuessDate,
#pageShare {
    display: none;
    background-image: url('../img/q1_bg.png');
    background-position: center;
    background-size: cover;
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 40;
}
#pageGuessName> div, #pageGuessDate> div {
    position: absolute;
    z-index: 30;
    top: 50%;
    left: 50%;
    height: 60%;
    width: 80%;
    transform: translate(-50%, -50%);
}

/*#pageGuessName > div > input {
    display: none;
    border: none;
    border-bottom: 5px red dotted;
    background-color: transparent;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    top: 50%;
}*/

.cluePlaceholder {
    display: none;
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    height: 50%;
    width: auto;
    transform: translate(-50%, -50%);
}
#cluePlaceholder img {
    height: 100%;
    width: auto;
}
.closeButtonRed {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url('../img/close.png');
}
.btnGuess {
    display: inline-block;
    padding: 10px;
    background-position: center;
    background-size: contain;
    background-image: url('../img/texture_inactive.jpg');
    border: none;
    color: #fff;
    letter-spacing: 1px;
    font-size: 100%;
}
.btnGuess.active {
    background-image: url('../img/texture.jpg');
}
#pageGuessName .inputBorder {
    /*border: none;*/
    display: inline-block;
    font-family: "edoregular", Serif;
    font-size: 2em;
    color: #45140e;
    background-color: transparent;
    /*float: left;*/
    margin-left: 10px;
    text-align: center;
}
.edoFont {
    font-family: "edoregular", Serif;
    font-size: 300%;
}
.edoFont-sm {
    font-family: "edoregular", Serif;
    font-size: 150%;
}

.fg-black {
    color: #000;
}
.guessBox {
    /*border-image-source: url('../img/texture.jpg');*/
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -webkit-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -o-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.60);
    padding: 30px;
}
.guessBox> input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #a80101;
    color: #fff;
}

.double-column {
    display: block;
    width: 100%;
    height: 100%;
}

.double-column li {
    float: left;
    list-style: none;
    height: 100%;
}
.double-column li {
    width: 30%;
}
.double-column li:first-child {
    width: 70%;
}

.double-column li.pontianakBox div {
    height: 100%;
    width: 300px;
    display: none;
    position: absolute;
    /*background-position: center;*/
}

.pontianak1 { background: transparent url( ../img/01_ponappear.png ) 0 0 no-repeat; }
.pontianak2 { background: transparent url( ../img/02_ponturn_1.png ) 0 0 no-repeat; }
.pontianak3 { background: transparent url( ../img/03_ponwait_1.png ) 0 0 no-repeat; }
.pontianak4 { background: transparent url( ../img/04_ponturn_2.png ) 0 0 no-repeat; }
.pontianak5 { background: transparent url( ../img/05_ponwait_2.png ) 0 0 no-repeat; }
.pontianak6 { background: transparent url( ../img/06_ponturn_3.png ) 0 0 no-repeat; }
.pontianak7 { background: transparent url( ../img/07_ponwait_3.png ) 0 0 no-repeat; }
.pontianak8 { background: transparent url( ../img/08_pondash.png ) 0 0 no-repeat; }

#pageGuessDate li:first-child div {
    display: inline-block;
    border-style: solid;
    border-width: 4px 4px 4px 4px;
    -moz-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -webkit-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    -o-border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    border-image: url(../img/texture.jpg) 4 4 4 4 repeat;
    background-color: rgba(0, 0, 0, 0.60);
}

#pageGuessDate li:first-child div a {
    display: inline-block;
    border: 1px solid #a80101;
    text-align: center;
    padding: 15px;
    color: #ffc700;
    font-weight: bold;
    border-right: 1px solid #a80101;
}
